@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

.container {
  max-width: 1200px;
  padding-right: 0px;
}

body {
  background-color: #CFFFDD;
  display: flex;
}

.hidden-div {
  display: none;
}

.disappear {
  animation-name: disappear;
  animation-duration: 1s;
}

.appear {
  animation-name: appear;
  animation-duration: 1s;
}

@keyframes appear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes disappear {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

.page-title {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 52px;
}

.ilustração-home {
  width: 500px;
}

.home-page-content {
  padding-left: 40px;
}

.home-page {
  width: 100%;
  display: flex;
  gap: 100px;
  align-items: center;
  margin-top: 70px;
}

.page-content {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  text-align: left;
  width: 450px;
  font-size: 16px;
}

#iniciar {
  position: relative;
  margin-top: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 10px 40px 10px 40px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#iniciar:hover {
  background-color: white;
  color: #343434;
  transform: translateX(-50%) scale(1.05); /* Zoom sem afetar a posição */
}

.hidden-div {
  display: none;
}

#box {
  background-color: #F1F1E9;
  width: 100%;
  height: 500px;
  border: 3px solid #343434;
}

.black {
  width: 100%;
  height: 70px;
  top: 0;
  background-color: #343434;
}

.retangulo {
  left: 81%;
  width: 150px;
  height: 37px;
  background-color: #343434;
  border: 3px solid #F1F1E9;
  border-top: none;
  border-radius: 0 0 15px 15px;
  position: relative;
}

.linhas {
  width: 2px;
  height: 100%;
  background-color: #F1F1E9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.linhas:first-of-type {
  left: 30%;
}

.linhas:last-of-type {
  left: 70%;
}

.menu-title {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #343434;
  text-align: center;
  padding: 40px 0px 40px 0px;
}

.imagens {
  display: flex;
  margin-left: 85px;
}

#asserção-1 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#asserção-2 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.bloco-1 {
  width: 200px;
  height: 200px;
  background-color: #FF8BFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#text-1 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-1:hover {
  background-color: #343434;
  color: #FFB5FF;
}

#lacuna-1 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#lacuna-2 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.bloco-2 {
  width: 200px;
  height: 200px;
  background-color: #F2FF53;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#text-2 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-2:hover {
  background-color: #343434;
  color: #f9ffb5;
}

#associação-1 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#associação-2 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.bloco-3 {
  width: 200px;
  height: 200px;
  background-color: #5EF267;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#text-3 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-3:hover {
  background-color: #343434;
  color: #B5FBB9;
}


#resposta-unica-1 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#resposta-unica-2 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.bloco-4 {
  width: 200px;
  height: 200px;
  background-color: #4DDFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#text-4 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-4:hover {
  background-color: #343434;
  color: #b5f2ff;
}

#multiplas-1 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#multiplas-2 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}


.bloco-5 {
  width: 200px;
  height: 200px;
  background-color: #B9BEFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#text-5 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-5:hover {
  background-color: #343434;
  color: #D5D3FF;
}

.imagens2 {
  display: flex;
}

.menu2-bloco-1 {
  width: 200px;
  height: 200px;
  background-color: #FF8BFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu2-bloco-1:hover {
  background-color: #343434;
  color: #FFB5FF;
}

#box-asserção {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

#pink {
  background-color: #FF8BFF;
  width: 100%;
  height: fit-content;
  padding: 20px 20px 20px 20px;
  display: flex;
}

#questão-asserção {
  width: 80px;
  height: 80px;
}

#titulo-asserção {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 20px;
}

#sobre-asserção {
  position: relative;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  left: 400px;
}

#sobre-asserção:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.02);
}

#gray {
  width: 100%;
  height: fit-content;
  background-color: #F1F1E9;
  padding: 30px 0px 20px 30px;
}

#dica-asserção,
#dica-lacuna,
#dica-associação,
#dica-resposta-unica,
#dica-respostas-multiplas {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#pink-right {
  background-color: #FF8BFF;
  width: 40vw;
  padding: 20px 40px 10px 30px;
}

#conteudo-asserção,
#conteudo-lacuna,
#conteudo-associação,
#conteudo-resposta-unica,
#conteudo-respostas-multiplas {
  display: flex;
}

#conteudo-principal-asserção,
#conteudo-principal-lacuna,
#conteudo-principal-associação,
#conteudo-principal-resposta-unica,
#conteudo-principal-respostas-multiplas {
  width: 60vw;
  height: fit-content;
  padding: 20px 20px 10px 20px;
}

.titulo-secundário {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #343434;
  padding: 0px 0px 100px 20px;
}

.textos {
  margin-top: 10px;
  padding-left: 20px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.textos-sublinhado {
  padding: 10px 20px 10px 20px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.textos-sublinhado:hover {
  background-color: #FFB5FF;
  cursor: pointer;
}

.imagem-cursor {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.textos-estratégias {
  margin-top: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #ffb5ff;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

#vamos-praticar {
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  gap: 30px;
  justify-content: center;
  border-top: 3px solid #343434;
}

#vamos-praticar:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.001);
  left: 0px;
}

.img-vamos-praticar {
  width: 70px;
  height: 70px;
}

#texto-praticar {
  margin-top: 20px;
}

#img-praticar {
  display: block;
}

#img-praticar-invertido {
  display: none;
}

#estratégia-1,
#estratégia-2,
#estratégia-3,
#estratégia-4,
#estratégia-5 {
  display: none;
}

#resposta-asserção {
  display: none;
}

#modal-asserção {
  margin-top: 300px;
  border: none;
  background: transparent;
  z-index: 1001;
}

.modal-box {
  background-color: #F1F1E9;
  width: 650px;
  height: fit-content;
  border: 3px solid #343434;
}

.modal-black {
  width: 100%;
  height: 70px;
  top: 0;
  background-color: #343434;
  margin-bottom: 20px;
}

.modal-retangulo {
  left: 73%;
  width: 150px;
  height: 37px;
  top: -3px;
  background-color: #343434;
  border: 3px solid #F1F1E9;
  border-radius: 0 0 15px 15px;
  position: relative;
}

.modal-linhas {
  width: 2px;
  height: 100%;
  background-color: #F1F1E9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.modal-linhas:first-of-type {
  left: 30%;
}

.modal-linhas:last-of-type {
  left: 70%;
}

.titulo-modal {
  margin-left: 210px;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #343434;
}

.texto-modal {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  line-height: 1.7rem;
  font-size: 16px;
  color: #343434;
  padding: 20px 20px 20px 20px;
}

#background {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  z-index: 1000;
}

#inicio-1 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#inicio-2 {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.bloco-0 {
  width: 200px;
  height: 200px;
  background-color: #343434;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-right: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#text-0 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
  color: #ffffff;
}

.bloco-0:hover {
  background-color: #ffffff;
}

#menu-asserção,
#menu-lacuna,
#menu-associação,
#menu-resposta-unica,
#menu-respostas-multiplas {
  display: flex;
}

#box-praticar-asserção {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

#bibliografia-asserção {
  text-align: right;
  padding: 10px 0px 10px 0px;
}

#questões-checkbox {
  border: 3px solid #343434;
  border-top: none;
}

#checkbox-1-asserção,
#checkbox-2-asserção,
#checkbox-3-asserção,
#checkbox-4-asserção,
#checkbox-5-asserção {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 10px;
}


#alternativa-1-asserção,
#alternativa-3-asserção,
#alternativa-5-asserção {
  display: flex;
  background-color: #F1F1E9;
  margin-right: 0px;
  height: 70px;
  border-top: 3px solid #343434;
}

#alternativa-2-asserção,
#alternativa-4-asserção {
  display: flex;
  background-color: white;
  margin-right: 0px;
  height: 70px;
  border-top: 3px solid #343434;
}

.textos-alternativas {
  margin-top: 15px;
  padding-left: 60px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

label::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #F1F1E9;
  border: 3px solid #343434;
}

input[type="checkbox"]:checked+label::before {
  background-color: #343434;
}

.estrategia-checkbox {
  background-color: #FFB5FF;
}

.textos-estrategia {
  margin-left: 30px;
  padding-top: 10px;
}

#checkbox-estrategia:before {
  top: 15px;
}

#checkbox-estrategia {
  margin-top: 10px;
}

#box-lacuna {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

#questão-lacuna {
  width: 80px;
  height: 80px;
}

#titulo-lacuna {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 20px;
}

#sobre-lacuna {
  position: relative;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  margin-left: 530px;
}

#sobre-lacuna:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.02);
}

#yellow {
  background-color: #F2FF53;
  width: 100%;
  height: fit-content;
  padding: 20px 20px 20px 20px;
  display: flex;
}

#img-lacuna {
  width: 650px;
  height: auto;
}

#cursor-lacuna {
  position: absolute;
  margin-top: 200px;
  margin-left: -200px;
}

.textos-sublinhado-lacuna {
  padding: 10px 20px 10px 20px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.textos-sublinhado-lacuna:hover {
  background-color: #F9FFB5;
  cursor: pointer;
}

#yellow-right {
  background-color: #F2FF53;
  width: 40vw;
  padding: 20px 40px 10px 30px;
}

#cursor-4-lacuna {
  position: relative;
  margin-left: 550px;
  top: -110px;
}

#estratégia-lacuna-1,
#estratégia-lacuna-2,
#estratégia-lacuna-3,
#estratégia-lacuna-4,
#estratégia-lacuna-5 {
  display: none;
}

.textos-estratégias-lacuna {
  margin-top: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #F9FFB5;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

#resposta-lacuna {
  display: none;
}

#modal-lacuna {
  margin-top: 300px;
  border: none;
  background: transparent;
  z-index: 1001;
}

#vamos-praticar-lacuna {
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  gap: 30px;
  justify-content: center;
  border-top: 3px solid #343434;
}

#vamos-praticar-lacuna:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.001);
  left: 0px;
}

#img-praticar-lacuna-invertido {
  display: none;
}

#img-lacuna{
  cursor: pointer;
}

#box-praticar-lacuna {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

.estrategia-checkbox-lacuna {
  background-color: #F9FFB5;
}

.textos-estratégias-lacuna {
  margin-left: 30px;
  padding-top: 10px;
}

#checkbox-1-lacuna,
#checkbox-2-lacuna,
#checkbox-3-lacuna,
#checkbox-4-lacuna,
#checkbox-5-lacuna {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 10px;
}

#alternativa-1-lacuna,
#alternativa-3-lacuna,
#alternativa-5-lacuna {
  display: flex;
  background-color: #F1F1E9;
  margin-right: 0px;
  height: 70px;
  border-top: 3px solid #343434;
}

#alternativa-2-lacuna,
#alternativa-4-lacuna {
  display: flex;
  background-color: white;
  margin-right: 0px;
  height: 70px;
  border-top: 3px solid #343434;
}

#box-associação {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

#green {
  background-color: #5EF267;
  width: 100%;
  height: fit-content;
  padding: 20px 20px 20px 20px;
  display: flex;
}

#questão-associação {
  width: 80px;
  height: 80px;
}

#titulo-associação {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 20px;
}

#sobre-associação {
  position: relative;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  margin-left: 470px;
}

#sobre-associação:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.02);
}

#modal-associação {
  margin-top: 300px;
  border: none;
  background: transparent;
  z-index: 1001;
}

#green-right {
  background-color: #5EF267;
  width: 40vw;
  padding: 20px 40px 10px 30px;
}

.textos-sublinhado-associação {
  padding: 10px 20px 10px 20px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.textos-sublinhado-associação:hover {
  background-color: #B5FBB9;
  cursor: pointer;
}

#estratégia-associação-1,
#estratégia-associação-2,
#estratégia-associação-3,
#estratégia-associação-4,
#estratégia-associação-5 {
  display: none;
}

.textos-estratégias-associação {
  margin-top: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #B5FBB9;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

#resposta-associação {
  display: none;
}

#vamos-praticar-associação {
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  gap: 30px;
  justify-content: center;
  border-top: 3px solid #343434;
}

#box-praticar-associação {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

#img-praticar-associação-invertido {
  display: none;
}

#vamos-praticar-associação:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.001);
  left: 0px;
}

#alternativa-1-associação,
#alternativa-3-associação,
#alternativa-5-associação {
  display: flex;
  background-color: #F1F1E9;
  margin-right: 0px;
  height: 70px;
  border-top: 3px solid #343434;
}

#alternativa-2-associação,
#alternativa-4-associação {
  display: flex;
  background-color: white;
  margin-right: 0px;
  height: 70px;
  border-top: 3px solid #343434;
}

.estrategia-checkbox-associação {
  background-color: #B5FBB9;
}

.textos-estratégias-associação {
  margin-top: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #B5FBB9;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

#box-resposta-unica {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

#blue {
  background-color: #4DDFFF;
  width: 100%;
  height: fit-content;
  padding: 20px 20px 20px 20px;
  display: flex;
}

#questão-resposta-unica {
  width: 80px;
  height: 80px;
}

#titulo-resposta-unica {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 20px;
}

#sobre-resposta-unica {
  position: relative;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  margin-left: 140px;
}

#sobre-resposta-unica:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.02);
}

#modal-resposta-unica {
  margin-top: 200px;
  border: none;
  background: transparent;
  z-index: 1001;
}

.textos-sublinhado-resposta-unica{
  padding: 10px 20px 10px 20px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.textos-sublinhado-resposta-unica:hover {
  background-color: #B5F2FF;
  cursor: pointer;
}

#blue-right {
  background-color: #4DDFFF;
  width: 40vw;
  padding: 20px 40px 10px 30px;
}

#estratégia-resposta-unica-1,
#estratégia-resposta-unica-2,
#estratégia-resposta-unica-3,
#estratégia-resposta-unica-4,
#estratégia-resposta-unica-5 {
  display: none;
}

.textos-estratégias-resposta-unica {
  margin-top: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #B5F2FF;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

#resposta-resposta-unica {
  display: none;
}

#vamos-praticar-resposta-unica {
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  gap: 30px;
  justify-content: center;
  border-top: 3px solid #343434;
}

#vamos-praticar-resposta-unica:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.001);
  left: 0px;
}

#img-praticar-resposta-unica-invertido{
  display: none;
}

#box-praticar-resposta-unica {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

#bibliografia-resposta-unica {
  text-align: right;
  padding-right: 10px;
}

#imagem-praticar-resposta-unica{
  width: 500px;
  height: auto;
  margin-left: 80px;
}

#alternativa-1-resposta-unica,
#alternativa-3-resposta-unica,
#alternativa-5-resposta-unica {
  display: flex;
  background-color: #F1F1E9;
  margin-right: 0px;
  height: fit-content;
  border-top: 3px solid #343434;
  padding-right: 20px;
}

#alternativa-2-resposta-unica,
#alternativa-4-resposta-unica {
  display: flex;
  background-color: white;
  margin-right: 0px;
  height: fit-content;
  border-top: 3px solid #343434;
  padding-right: 20px;
}

.estrategia-checkbox-resposta-unica {
  background-color: #B5F2FF;
}

.titulo-modal-unica {
  margin-left: 210px;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #343434;
}

.texto-modal-unica {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  line-height: 1.7rem;
  font-size: 16px;
  color: #343434;
  padding: 10px 20px 0px 20px;
}

#box-respostas-multiplas {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

#purple {
  background-color: #B9BEFF;
  width: 100%;
  height: fit-content;
  padding: 20px 20px 20px 20px;
  display: flex;
}

#questão-respostas-multiplas {
  width: 80px;
  height: 80px;
}

#titulo-respostas-multiplas {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 20px;
}

#sobre-respostas-multiplas {
  position: relative;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  margin-left: 340px;
}

#sobre-respostas-multiplas:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.02);
}

#modal-respostas-multiplas {
  margin-top: 200px;
  border: none;
  background: transparent;
  z-index: 1001;
}

.textos-sublinhado-respostas-multiplas{
  padding: 10px 20px 10px 20px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.textos-sublinhado-respostas-multiplas:hover {
  background-color: #D5D3FF;
  cursor: pointer;
}

#bibliografia-respostas-multiplas {
  text-align: right;
  padding-right: 10px;
}

#sublinhado-roxo-3{
  text-align: left;
}

#lista-respostas-multiplas{
  list-style-type: upper-roman;
  padding: 10px 20px 10px 40px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#lista-respostas-multiplas:hover{
  background-color: #D5D3FF;
  cursor: pointer;
}

#purple-right {
  background-color: #B9BEFF;
  width: 40vw;
  padding: 20px 40px 10px 30px;
}

.titulo-modal-multiplas {
  margin-left: 210px;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #343434;
}

.texto-modal-multiplas {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  line-height: 1.7rem;
  font-size: 16px;
  color: #343434;
  padding: 10px 20px 0px 20px;
}

#estratégia-respostas-multiplas-1,
#estratégia-respostas-multiplas-2,
#estratégia-respostas-multiplas-3,
#estratégia-respostas-multiplas-4,
#estratégia-respostas-multiplas-5 {
  display: none;
}

.textos-estratégias-respostas-multiplas {
  margin-top: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #D5D3FF;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

#resposta-respostas-multiplas {
  display: none;
}

#vamos-praticar-respostas-multiplas{
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  gap: 30px;
  justify-content: center;
  border-top: 3px solid #343434;
}

#vamos-praticar-respostas-multiplas:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.001);
  left: 0px;
}

#img-praticar-respostas-multiplas-invertido{
  display: none;
}

#box-praticar-respostas-multiplas {
  background-color: white;
  width: 1200px;
  height: fit-content;
  border: 3px solid #343434;
  margin-top: 50px;
}

#bibliografia-respostas-multiplas {
  text-align: right;
  padding-right: 10px;
}

#lista-respostas-multiplas-praticar{
  list-style-type: upper-roman;
  padding: 10px 20px 10px 40px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#alternativa-1-respostas-multiplas,
#alternativa-3-respostas-multiplas,
#alternativa-5-respostas-multiplas {
  display: flex;
  background-color: #F1F1E9;
  margin-right: 0px;
  height: 70px;
  border-top: 3px solid #343434;
}

#alternativa-2-respostas-multiplas,
#alternativa-4-respostas-multiplas {
  display: flex;
  background-color: white;
  margin-right: 0px;
  height: 70px;
  border-top: 3px solid #343434;
}

.textos-estratégias-respostas-multiplas {
  margin-top: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #D5D3FF;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

.estrategia-checkbox-respostas-multiplas {
  background-color: #D5D3FF;
}

#vamos-praticar-respostas-multiplas {
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 20px 70px 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  gap: 30px;
  justify-content: center;
  border-top: 3px solid #343434;
}

#vamos-praticar-respostas-meltiplas:hover {
  background-color: white;
  color: #343434;
  transform: scale(1.001);
  left: 0px;
}

#cursor-1-lacuna{
  position: relative;
  display: flex;
  gap: 5px;
  top: -75px;
  left: 480px;
  z-index: 100;
  width: fit-content;
}

#imagem-cursor-associação-4{
  margin-left: 200px;
  margin-top: -90px;
}

#cursor-opções-lacuna{
  margin-left: 50px;
}

#cursor-4-associação{
  margin-left: 30px;
}

#cursor-3-resposta-unica{
  margin-left: 20px;
}
.highlight-pink{
  background-color: #FFB5FF;
  border: 5px solid #FFB5FF;
  border-radius: 7px;
}
#highlight-pink-inicio{
  background-color: #FFB5FF;
  border: 5px solid #FFB5FF;
  border-radius: 7px;
}
#estratégias-asserção-mobile{
  display: none;
}
.highlight-yellow{
  background-color: #F9FFB5;
  border: 5px solid #F9FFB5;
  border-radius: 7px;
}
#highlight-yellow-inicio{
  background-color: #F9FFB5;
  border: 5px solid #F9FFB5;
  border-radius: 7px;
}
.highlight-green{
  background-color: #B5FBB9;
  border: 5px solid #B5FBB9;
  border-radius: 7px;
}
#highlight-green-inicio{
  background-color: #B5FBB9;
  border: 5px solid #B5FBB9;
  border-radius: 7px;
}