@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

body {
  background-color: #CFFFDD;
  display: flex;
}

.hidden-div {
  display: none;
}

.disappear{
  animation-name: disappear;
  animation-duration: 1s;
}

.appear{
  animation-name: appear;
  animation-duration: 1s;
}

@keyframes appear{
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes disappear{
  from {opacity: 100%;}
  to {opacity: 0%;}
}

.page-title{
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 52px;
}

.ilustração-home{
  width: 500px;
}

.home-page-content{
  padding-left: 40px;
}
.home-page{
  width: 100%;
  display: flex;
  gap: 100px;
  align-items: center;
  margin-top: 70px;
}

.page-content{
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  text-align: left;
  width: 450px;
  font-size: 16px;
}

#iniciar{
  margin-top: 70px;
  margin-left: 40%;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #343434;
  padding: 10px 40px 10px 40px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#iniciar:hover{
  background-color: white;
  color: #343434;
  transform: scale(1.05);
}

.hidden-div{
  display: none;
}

.box{
  background-color: #F1F1E9;
  width: 100%;
  height: 500px;
  border: 3px solid #343434;
}

.black{
  width: 100%;
  height: 70px;
  top: 0;
  background-color: #343434;
}

.retangulo {
  left: 81%;
  width: 150px; 
  height: 37px; 
  background-color: #343434; 
  border: 3px solid #F1F1E9; 
  border-top: none; 
  border-radius: 0 0 15px 15px; 
  position: relative; 
}

.linhas {
  width: 2px; 
  height: 100%; 
  background-color: #F1F1E9; 
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
}

.linhas:first-of-type {
  left: 30%; 
}

.linhas:last-of-type {
  left: 70%; 
}

.menu-title{
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #343434;
  text-align: center;
  padding: 40px 0px 40px 0px;
}

.imagens{
  display: flex;
  margin-left: 55px;
}

#asserção-1{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#asserção-2{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.bloco-1 {
  width: 200px;
  height: 200px;
  background-color: #FF8BFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.text-1{
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-1:hover{
  background-color: #343434;
  color: #FFB5FF;
}

#lacuna-1{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#lacuna-2{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.bloco-2 {
  width: 200px;
  height: 200px;
  background-color: #F2FF53;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.text-2{
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-2:hover{
  background-color: #343434;
  color: #f9ffb5;
}

#associação-1{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#associação-2{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.bloco-3 {
  width: 200px;
  height: 200px;
  background-color: #5EF267;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.text-3{
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-3:hover{
  background-color: #343434;
  color: #B5FBB9;
}


#resposta-unica-1{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#resposta-unica-2{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.bloco-4 {
  width: 200px;
  height: 200px;
  background-color: #4DDFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.text-4{
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-4:hover{
  background-color: #343434;
  color: #b5f2ff;
}

#multiplas-1{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

#multiplas-2{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}


.bloco-5 {
  width: 200px;
  height: 200px;
  background-color: #B9BEFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 30px;
  border: 3px solid #343434;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.text-5{
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 30px;
}

.bloco-5:hover{
  background-color: #343434;
  color: #D5D3FF;
}
