@media only screen and (max-width: 1000px){
    .page-title{
        font-size: 40px;
    }
    .container{
        max-width: fit-content;
        /*gap: 150px;*/
        width: 100vw;
        margin-left: 0px;
    }

    nav > .container{
        padding-left: 20px;
    }

    .logo{
        margin-right: 150px;
    }
    .home-page{
        flex-direction: column;
        gap: 30px;
        margin-top: 0px;
    }
    .page-content{
        display: none;
    }
    #page-content-mobile{
        display: block !important;
        padding: 0px 50px 0px 50px;
        font-family: "Open Sans", sans-serif;
        margin-top: 20px;
        text-align: center;
        width:fit-content;
        font-size: 20px;
    }
    #imegem-home-mobile{
        display: flex;
        flex-direction: column-reverse;
    }
    .ilustração-home{
        position: relative;
        width: 300px;
        left: 50%;
        transform: translateX(-50%);

    }
    .home-page-content{
        padding-left: 0px;
    }
    #iniciar{
        margin-top: 30px;
    }
    .black, .retangulo, .linhas{
        display: none;
    }
    #opções-menu{
        position: relative;
        flex-wrap: wrap;
        padding-right: 0px;
        margin-bottom: 30px;
        align-items: center;
    }
    .bloco-1, .bloco-2, .bloco-3, .bloco-4, .bloco-5{
        width: 150px;
        height: 150px;
    }
    .imagens{
        margin-left: 30px;
    }
    .menu-title{
        font-size: 25px;
        text-align: center;
        padding: 0px 10px 10px 10px;
    }
    #box{
        background-color: #CFFFDD;
        border: none;
    }
    .bloco-3, .bloco-5{
        border-left: 3px solid #343434;
    }

    .bloco-3, .bloco-4, .bloco-5{
        border-top: none;
    }

    #asserção-1, #asserção-2{
        width: 70px;
        height: 70px;
    }
    #lacuna-1, #lacuna-2{
        width: 70px;
        height: 70px;
    }
    #associação-1, #associação-2{
        width: 70px;
        height: 70px;
    }
    #resposta-unica-1, #resposta-unica-2{
        width: 70px;
        height: 70px;
    }
    #multiplas-1, #multiplas-2{
        width: 70px;
        height: 70px;
    }
    #text-1, #text-2, #text-3, #text-4, #text-5{
        font-size: 12px;
        padding-top: 5px;
    }
    #box{
        height: auto;
    }
    #box-asserção{
        width: 100vw;
        margin-left: -15px;
        border: none;
    }
    #menu-asserção{
        flex-wrap: wrap;
        margin-left: -30px;
    }
    .bloco-0{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        height: fit-content;
        padding: 5px;
    }
    #text-0{
        width: 30%;
        font-size: 20px;
    }
    #botão-inicio{
        position: relative;
        width: 350px;
        margin-left: 5px;
        left: 50%;
        transform: translateX(-50%);

    }
    #inicio-1,  #inicio-2 {
        /*
        position: absolute;
        left: 20px;*/
        height: 50px;
        width: 50px;
    }
    #pink{
        flex-wrap: wrap;
        padding: 0px;
        border: 3px solid #343434;
    }
    #titulo-asserção{
        font-size: 22px;
    }
    #sobre-asserção{
        left: 0px;
        width: 100vw;
        display: flex;
    }
    #questão-asserção{
        height: 60px;
        width: 60px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #dica-asserção{
        padding-right: 10px;
    }
    #pink-right{
        display: none;
    }
    #conteudo-principal-asserção{
        width: 100vw;
    }
    #resposta-asserção{
        padding-right: 30px;
    }
    #vamos-praticar{
        padding: 0px;
    }
    #abrir-sobre{
        display: block !important;
        position: relative;
        left: 20px;
        width: 30px;
        height: auto;
        transform: rotate(180deg);
        top: -5px;
    }
}