@media only screen and (max-width: 1000px) {
    .page-title {
        font-size: 40px;
    }

    .container {
        max-width: fit-content;
        /*gap: 150px;*/
        width: 100vw;
        margin-left: 0px;
    }

    nav>.container {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo {
        margin-right: 150px;
    }

    .home-page {
        flex-direction: column;
        gap: 30px;
        margin-top: 0px;
    }

    .page-content {
        display: none;
    }

    #page-content-mobile {
        display: block !important;
        padding: 0px 50px 0px 50px;
        font-family: "Open Sans", sans-serif;
        margin-top: 20px;
        text-align: center;
        width: fit-content;
        font-size: 20px;
    }

    #imegem-home-mobile {
        display: flex;
        flex-direction: column-reverse;
    }

    .ilustração-home {
        position: relative;
        width: 300px;
        left: 50%;
        transform: translateX(-50%);

    }

    .home-page-content {
        padding-left: 0px;
    }

    #iniciar {
        margin-top: 30px;
    }

    .black,
    .retangulo,
    .linhas {
        display: none;
    }

    #opções-menu {
        position: relative;
        flex-wrap: wrap;
        padding-right: 0px;
        margin-bottom: 30px;
        align-items: center;
    }

    .bloco-1,
    .bloco-2,
    .bloco-3,
    .bloco-4,
    .bloco-5 {
        width: 150px;
        height: 150px;
    }

    .imagens {
        margin-left: 30px;
    }

    .menu-title {
        font-size: 25px;
        text-align: center;
        padding: 0px 10px 10px 10px;
    }

    #box {
        background-color: #CFFFDD;
        border: none;
    }

    .bloco-3,
    .bloco-5 {
        border-left: 3px solid #343434;
    }

    .bloco-3,
    .bloco-4,
    .bloco-5 {
        border-top: none;
    }

    #asserção-1,
    #asserção-2 {
        width: 70px;
        height: 70px;
    }

    #lacuna-1,
    #lacuna-2 {
        width: 70px;
        height: 70px;
    }

    #associação-1,
    #associação-2 {
        width: 70px;
        height: 70px;
    }

    #resposta-unica-1,
    #resposta-unica-2 {
        width: 70px;
        height: 70px;
    }

    #multiplas-1,
    #multiplas-2 {
        width: 70px;
        height: 70px;
    }

    #text-1,
    #text-2,
    #text-3,
    #text-4,
    #text-5 {
        font-size: 12px;
        padding-top: 5px;
    }

    #box {
        height: auto;
    }

    #box-asserção {
        width: 100vw;
        margin-left: -15px;
        border: none;
    }

    #menu-asserção {
        flex-wrap: wrap;
        margin-left: -30px;
    }

    .bloco-0 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        height: fit-content;
        padding: 5px;
    }

    #text-0 {
        width: 30%;
        font-size: 20px;
    }

    #botão-inicio {
        position: relative;
        width: 350px;
        margin-left: 5px;
        left: 50%;
        transform: translateX(-50%);

    }

    #inicio-1,
    #inicio-2 {
        /*
        position: absolute;
        left: 20px;*/
        height: 50px;
        width: 50px;
    }

    #pink {
        flex-wrap: wrap;
        padding: 0px;
        border: 3px solid #343434;
    }

    #titulo-asserção {
        font-size: 22px;
    }

    #sobre-asserção {
        left: 0px;
        width: 100vw;
        display: flex;
        padding: 5px 10px 5px 70px;
    }

    #questão-asserção {
        height: 60px;
        width: 60px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #dica-asserção {
        padding-right: 10px;
    }

    #pink-right {
        display: none;
    }

    #conteudo-principal-asserção {
        width: 100vw;
    }

    #resposta-asserção {
        padding-right: 30px;
    }

    #vamos-praticar {
        padding: 0px;
    }

    #abrir-sobre-asserção {
        display: block !important;
        position: relative;
        left: 20px;
        width: 30px;
        height: auto;
        transform: rotate(180deg);
        top: -5px;
    }

    #abrir-sobre-asserção-praticar {
        display: block !important;
        position: relative;
        left: 20px;
        width: 30px;
        height: auto;
        transform: rotate(180deg);
        top: -5px;
    }

    .textos-sublinhado:hover {
        background-color: white;
    }

    #dark-gray {
        background-color: #4d4d4d;
    }

    #texto-modal-asserção {
        color: white;
        padding: 20px;
        text-align: left;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        margin-bottom: -10px;
    }

    .textos-estratégias {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: -10px;
    }

    .highlight-pink {
        margin-top: 10px;
        display: block;
        width: fit-content;
    }

    .bloco-0:hover {
        background-color: #343434;
        color: inherit;
    }

    .bloco-1:hover {
        background-color: #FF8BFF;
        color: inherit;
    }

    .bloco-2:hover {
        background-color: #F2FF53;
        color: inherit;
    }

    .bloco-3:hover {
        background-color: #5EF267;
        color: inherit;
    }

    .bloco-4:hover {
        background-color: #4DDFFF;
        color: inherit;
    }

    .bloco-5:hover {
        background-color: #B9BEFF;
        color: inherit;
    }

    #sobre-asserção:hover {
        background-color: #343434;
        color: white;
    }

    #vamos-praticar:hover {
        background-color: #343434;
        color: white;
    }

    #iniciar:hover {
        background-color: #343434;
        color: white;
    }

    #box-praticar-asserção {
        width: 100vw;
        margin-left: -15px;
        border: none;
    }

    .estratégias-mobile {
        display: block !important;
    }

    #alternativa-1-asserção,
    #alternativa-2-asserção,
    #alternativa-3-asserção,
    #alternativa-4-asserção,
    #alternativa-5-asserção {
        height: fit-content;
    }

    #resposta-praticar-asserção {
        padding-right: 30px;
    }

    #box-lacuna {
        width: 100vw;
        margin-left: -15px;
        border: none;
    }

    #menu-lacuna {
        flex-wrap: wrap;
        margin-left: -30px;
    }

    #yellow {
        flex-wrap: wrap;
        padding: 0px;
        border: 3px solid #343434;
    }

    #titulo-lacuna {
        font-size: 22px;
    }

    #sobre-lacuna {
        margin-left: 0px;
        width: 100vw;
        display: flex;
        padding: 5px 10px 5px 70px;
    }

    #questão-lacuna {
        height: 60px;
        width: 60px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #dica-lacuna {
        padding-right: 10px;
    }

    #yellow-right {
        display: none;
    }

    #conteudo-principal-lacuna {
        width: 100vw;
    }

    #resposta-lacuna {
        padding-right: 30px;
    }

    #img-lacuna {
        width: 100%;
        position: relative;
    }

    #img-lacuna-mobile{
        width: 300px;
    }

    #dica-ampliar-img{
        display: block !important;
    }

    #cursor-1-lacuna {
        left: 20px;
        top: 5px;
    }

    #sobre-lacuna:hover {
        background-color: #343434;
        color: white;
    }

    #texto-modal-lacuna {
        color: white;
        padding: 20px;
        text-align: left;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        margin-bottom: -10px;
    }

    #abrir-sobre-lacuna {
        display: block !important;
        position: relative;
        left: 20px;
        width: 30px;
        height: auto;
        transform: rotate(180deg);
        top: -5px;
    }

    .highlight-pink {
        margin-top: 10px;
        display: block;
        width: fit-content;
    }

    .highlight-yellow {
        margin-top: 10px;
        display: block;
        width: fit-content;
    }

    #cursor-opções-lacuna {
        margin-left: 0px;
    }

    #vamos-praticar-lacuna {
        padding: 0px;
    }


    #vamos-praticar-lacuna:hover {
        background-color: #343434;
        color: white;
    }

    .textos-sublinhado-lacuna:hover {
        background-color: white;
        cursor: pointer;
    }

    .textos-estratégias-lacuna {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: -10px;
    }

    #estratégia-lacuna-1{
        margin-left: 15px;
        margin-right: 15px;
    }

    #box-praticar-lacuna {
        width: 100vw;
        margin-left: -15px;
        border: none;
    }

    .estratégias-lacuna-mobile{
        display: block !important;
    }

    #alternativa-1-lacuna,
    #alternativa-2-lacuna,
    #alternativa-3-lacuna,
    #alternativa-4-lacuna,
    #alternativa-5-lacuna {
        height: fit-content;
    }

    #resposta-praticar-lacuna {
        padding-right: 30px;
    }

    #abrir-sobre-lacuna-praticar {
        display: block !important;
        position: relative;
        left: 20px;
        width: 30px;
        height: auto;
        transform: rotate(180deg);
        top: -5px;
    }
    #box-associação {
        width: 100vw;
        margin-left: -15px;
        border: none;
    }

    #menu-associação {
        flex-wrap: wrap;
        margin-left: -30px;
    }

    #green {
        flex-wrap: wrap;
        padding: 0px;
        border: 3px solid #343434;
    }

    #titulo-associação {
        font-size: 22px;
    }

    #sobre-associação {
        margin-left: 0px;
        width: 100vw;
        display: flex;
        padding: 5px 10px 5px 70px;
    }

    #questão-associação {
        height: 60px;
        width: 60px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #dica-associação {
        padding-right: 10px;
    }

    #green-right {
        display: none;
    }

    #conteudo-principal-associação {
        width: 100vw;
    }

    #resposta-associação {
        padding-right: 30px;
    }

    .highlight-green {
        margin-top: 10px;
        display: block;
        width: fit-content;
    }

    .textos-sublinhado-associação:hover {
        background-color: white;
        cursor: pointer;
    }

    #cursor-4-associação{
        margin-left: 0px;
    }

    #vamos-praticar-associação {
        padding: 0px;
    }

    #vamos-praticar-associação:hover {
        background-color: #343434;
        color: white;
    }

    #texto-modal-associação{
        color: white;
        padding: 20px;
        text-align: left;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        margin-bottom: -10px;
    }

    #abrir-sobre-associação {
        display: block !important;
        position: relative;
        left: 20px;
        width: 30px;
        height: auto;
        transform: rotate(180deg);
        top: -5px;
    }

    #sobre-associação:hover {
        background-color: #343434;
        color: white;
    }

    
    .textos-estratégias-associação {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: -10px;
    }

    #box-praticar-associação {
        width: 100vw;
        margin-left: -15px;
        border: none;
    }

    .estratégias-associação-mobile {
        display: block !important;
    }

    #resposta-praticar-associação {
        padding-right: 30px;
    }

    #abrir-sobre-associação-praticar {
        display: block !important;
        position: relative;
        left: 20px;
        width: 30px;
        height: auto;
        transform: rotate(180deg);
        top: -5px;
    }

    #box-resposta-unica {
        width: 100vw;
        margin-left: -15px;
        border: none;
    }

    #menu-resposta-unica{
        flex-wrap: wrap;
        margin-left: -30px;
    }

    #blue {
        flex-wrap: wrap;
        padding: 0px;
        border: 3px solid #343434;
    }

    #titulo-resposta-unica {
        font-size: 22px;
    }

    #sobre-resposta-unica {
        margin-left: 0px;
        width: 100vw;
        display: flex;
        padding: 5px 10px 5px 70px;
    }

    #questão-resposta-unica {
        height: 60px;
        width: 60px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #dica-resposta-unica {
        padding-right: 10px;
    }

    #blue-right {
        display: none;
    }

    #conteudo-principal-resposta-unica {
        width: 100vw;
    }

    #resposta-resposta-unica {
        padding-right: 30px;
    }

    #titulo-resposta-unica{
        font-size: 16px;
    }

    #texto-modal-resposta-unica {
        color: white;
        padding: 20px;
        text-align: left;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        margin-bottom: -10px;
    }

    #abrir-sobre-resposta-unica {
        display: block !important;
        position: relative;
        left: 20px;
        width: 30px;
        height: auto;
        transform: rotate(180deg);
        top: -5px;
    }

    #sobre-resposta-unica:hover {
        background-color: #343434;
        color: white;
    }

    .highlight-blue {
        margin-top: 10px;
        display: block;
        width: fit-content;
    }

    .highlight-blue-q3 {
        margin-top: 10px;
        width: fit-content;
    }

    .textos-sublinhado-resposta-unica:hover {
        background-color: white;
        cursor: pointer;
    }

    #vamos-praticar-resposta-unica:hover {
        background-color: #343434;
        color: white;
    }

    .textos-estratégias-resposta-unica {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: -10px;
    }

    #vamos-praticar-resposta-unica {
        padding: 0px;
    }

    #box-praticar-resposta-unica {
        width: 100vw;
        margin-left: -15px;
        border: none;
    }

    .estratégias-resposta-unica-mobile {
        display: block !important;
    }

    #resposta-praticar-resposta-unica {
        padding-right: 30px;
    }

    #abrir-sobre-resposta-unica-praticar {
        display: block !important;
        position: relative;
        left: 20px;
        width: 30px;
        height: auto;
        transform: rotate(180deg);
        top: -5px;
    }

    #imagem-praticar-resposta-unica {
        width: 100%;
        margin-left: 0px;
    }
}